@{
    ViewData["Title"] = "Word Page";
}

<div class="container-fluid">
    <h3>Word management</h3>
    <div id="word-table">
        <!-- word table here -->
    </div>
</div>

@section Scripts{ 
    <script src="~/js/script_word.js"></script>
}