@{
    ViewData["Title"] = "Word Page";
}

<div class="container-fluid">
    <div class="card border-info">
        <div class="card-header font-weight-bold">
            <h5 class="float-left text-info">Word List</h5>
            <a role="button" class="btn btn-success float-right" asp-area="" asp-controller="Word" asp-action="Create">Add</a>
        </div>
        <div class="card-body">
            <div id="word-table">
                <!-- word table here -->
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/script_word.js"></script>
}